<% title "Conferences" %>

<table>
  <tr>
    <th>Name</th>
    <th>Start</th>
    <th>End</th>
  </tr>
<% @conferences.each do |conf| %>
  <tr>
    <td><%= link_to conf.name, conf %></td>
    <td><%= conf.start_date %></td>
    <td><%= conf.end_date %></td>
  </tr>
<% end %>
</table>

<p>
  <%= link_to "Add a new conference", new_conference_url %>
</p>