<% title @submission.title %>





<%= @submission.body %>

<%= image_tag @submission.image.url %>

<p id="pdf_link">
  <%= link_to "PDF Version", submission_url(@submission, :format => "pdf") %>
</p>
